
.Navbar {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px;
    position: sticky;
    top: 0;

}

.card {
   display: flex;
   align-items: center;
   justify-content: center;
}