
.Navbar {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px;
    position: sticky;
    top: 0;

}

.card {
   display: flex;
   align-items: center;
   justify-content: center;
 
}

body {
   background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(188, 227, 232, 1) 32%, rgba(216, 219, 232, 1) 67%, rgba(179, 184, 217, 1) 100%);
   
}