.card-container {
    margin-top: 1rem;
    border: 1px rgb(168, 173, 25) solid;
    width: 30rem;
    height: auto;
    box-shadow: 2px 2px 5px;
    border-radius: 0.2rem;
    background: white;
}

.card-title h1 {
    font-family: var(--font-m);
    text-align: center;
    margin: 1.3rem 0.5rem 0;
    color: rgb(23, 99, 23);
   
    font-weight: 800;
    border-radius: 0.2rem;
    
}

.card-body {
    padding: 1rem;
}

.card-container p {
    margin: 0.5rem;
    background: rgb(247, 4, 4, 0.7);
    padding: 0.7rem;
    color: white;
    font-family: var(--font-r);
}

.card-container p.inactive {
    visibility: hidden;
}

.footer p {
    background: none;
    color: black;
    margin: 0;
    padding: 0 0.2rem 0.1rem;
    font-size: 0.8rem;

}

@media (max-width: 769px) {
    .card-container {
        width: 25rem;
    }
}

@media (max-width: 425px) {
    .card-container {
        width: 25rem;
    }
}