nav { 
    font-family: var(--font-r);  
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    font-size: 2rem;
    padding-right: 1rem;
    color: black;
}

.logo span {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.logo a {
    text-decoration: none;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.7rem;  
}

.nav-item {
   list-style: none;
}

.nav-item a {
    text-decoration: none;  
    padding: 0.2rem 0.8rem;
    color: black;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}

.nav-item a.active {
    border: 1px solid blue;
    border-radius: 0.5rem;
    font-weight: 450;
    font-size: 1.2rem;
    background: rgb(74, 74, 156);
    color: white;
}



.mobile-menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 0;
    background: white;
}

.x-icon {
    background: linear-gradient(90deg, rgba(202, 212, 240, 1) 0%, rgba(207, 187, 207, 1) 100%);
    font-size: 2rem;
    color: white;
}

.line-icon {
    background: white;
    font-size: 2rem;
}


.mobile-menu-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1.8rem;
    
    transform: scale(0);
    transition: all 0.4s ease-in;
    opacity: 0;
}

.active {
    transform: scale(1);
    opacity: 1;
}

.mobile-menu-links {
    margin: 1rem 0 0 1rem;
}

.mobile-menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.mobile-menu-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 1rem 1rem;
    padding-left: 0.8rem;
}


@media (max-width: 769px) {
    .navbar-container {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
    .logo {
        padding-left: 0.5rem;
    }
}